# Potential Evapotranspiration (PET)
**Tolga Barış Terzi – 2025**

This notebook demonstrates **example calculations of monthly Potential Evapotranspiration (PET)** using two widely used methods: **Hargreaves** and **Thornthwaite**.  

PET is a key input for drought indices like **SPEI**, **MSDI**, or water balance calculations.

---

## PET Methodology Overview

1. **Hargreaves (1985)**: Uses temperature extremes and extraterrestrial radiation to estimate PET.  
   $$
   PET = 0.0023 \cdot (T_{mean} + 17.8) \cdot \sqrt{T_{max} - T_{min}} \cdot R_a
   $$ 
   where $R_a$ is extraterrestrial radiation.  

2. **Thornthwaite (1948)**: Based on mean monthly temperature and day length.  
   $$
   PET = 16 \cdot (L/12) \cdot (N/30) \cdot (10 \cdot T / I)^a
   $$  
   where $L$ is day length, $N$ is days in the month, $T$ is mean temperature, and $a$ depends on annual heat index.

---

## Required Packages

In [1]:
import pandas as pd
import numpy as np
import pydrght

---
## Load the Data

The example dataset contains monthly values of:

- **Minimum Temperature**  
- **Maximum Temperature**  
- **Mean Temperature**

The data is from the **Çoruh River Basin, Turkey**, covering the period **October 1964 – September 2011**, which corresponds to hydrological years **1965–2011**.

Latitude of the meteorological station is approximately 40.26°

In [2]:
df = pd.read_csv("data.csv", index_col=0, parse_dates=True)
df.head()

            STREAMFLOW  PRECIPITATION  MINT  MAXT  MEANT     PET
DATE
1964-10-01        10.5          46.67   2.0  22.7   12.0  95.471
1964-11-01        11.0          99.70  -1.7  12.3    5.0  43.318
1964-12-01        12.5          64.70  -4.1   4.1   -0.4  22.320
1965-01-01        12.3          41.00  -5.0   3.0   -1.4  22.607
1965-02-01        15.8         104.50  -6.9   3.4   -2.1  29.121

---
## Calculate PET Using the Thornthwaite Method

We calculate monthly **Potential Evapotranspiration (PET)** using the **Thornthwaite method (1948)**, which relies on **monthly mean temperature** and **latitude**.  

- **Monthly mean temperature** is selected from the dataset.
- **Start date** of the time series is specified as 1964-10.
- **Latitude** of the meteorological station is 40.26°.

The `pydrght.pet.thornthwaite` function is then used to compute PET values.

In [3]:
# Select the monthly mean temperature column
tmean = df['MEANT']

# Start date of the time series
start_date = "1964-10"

# Latitude of the Bayburt station
latitude = 40.26

# Calculate PET using the Thornthwaite method
pet_thornthwaite = pydrght.pet.thornthwaite(
    start_date=start_date,
    monthly_tmean=tmean,
    latitude=latitude
)

display(pet_thornthwaite.head())

   Year Month  Tmean  MonthlyPET
0  1964   Oct   12.0      51.960
1  1964   Nov    5.0      16.644
2  1964   Dec   -0.4       0.000
3  1965   Jan   -1.4       0.000
4  1965   Feb   -2.1       0.000

---
## Calculate PET Using the Hargreaves Method

We calculate monthly **Potential Evapotranspiration (PET)** using the **Hargreaves method (1985)**, which relies on **monthly minimum and maximum temperatures**, **monthly mean temperature** and **latitude**.  

- **Monthly minimum, maximum and mean temperatures** are selected from the dataset.
- **Start date** of the time series is specified as 1964-10.
- **Latitude** of the meteorological station is 40.26°.

The `pydrght.pet.hargreaves` function is then used to compute PET values.

In [4]:
# Select the monthly temperature columns
tmin = df['MINT']
tmax = df['MAXT']
tmean = df['MEANT']

# Start date of the time series
start_date = "1964-10"

# Latitude of the meteorological station (decimal degrees)
latitude = 40.26  # Çoruh River Basin

# Calculate PET using Hargreaves method
pet_hargreaves = pydrght.pet.hargreaves(
    start_date=start_date,
    tmin=tmin,
    tmax=tmax,
    tmean=tmean,
    latitude=latitude
)

# Display the first few rows
display(pet_hargreaves.head())

   Year Month  Tmin  Tmax  Tmean      Ra  MonthlyPET
0  1964   Oct   2.0  22.7   12.0  22.548      88.934
1  1964   Nov  -1.7  12.3    5.0  16.229      38.976
2  1964   Dec  -4.1   4.1   -0.4  13.435      19.473
3  1965   Jan  -5.0   3.0   -1.4  14.746      19.898
4  1965   Feb  -6.9   3.4   -2.1  20.026      26.513

---
## References

- Thornthwaite, C. W. (1948). An Approach Toward a Rational Classification of Climate. *Geographical Review*, 38(1), 55–94.
- Hargreaves, G. H., & Samani, Z. A. (1985). Reference crop evapotranspiration from temperature. *Applied Engineering in Agriculture*, 1(2), 96–99.